
@model TransferPayModel  
@{
    ViewData["Title"] = "Transfer Funds";
}

<h2>Transfer Funds</h2>

<form action="DoTransfer">
    <div class="form-group">
        From Account:
        <select asp-items="@Model.Accounts" asp-for="FromAccount" class="form-control">
            <option>Select</option>
        </select>

    </div>

    <div class="form-group">
        To Account:
        <select asp-items="@Model.Accounts" asp-for="ToAccount" class="form-control">
            <option>Select</option>
        </select>

    </div>

    <div class="form-group">
        Amount: <input class="form-control" asp-for="Amount" />

    </div>
    <div class="form-group">
        <input type="submit" value="Transfer Funds" />
    </div>
</form>